---
import SocialIcon from '@/components/social-icons/index.astro'
import { SITE_METADATA } from '@/consts'

import Link from './Link.astro'
const { siteRepo, title, author, socialLinks } = SITE_METADATA
---

<footer>
  <div class="mt-16 flex flex-col items-center">
    <div class="mb-3 flex space-x-4">
      {
        Object.entries(socialLinks).map(([key, value]) => (
          <SocialIcon
            kind={key as keyof typeof socialLinks}
            href={key === 'email' ? `mailto:${value}` : value}
            size={6}
          />
        ))
      }
    </div>
    <div class="mb-2 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <Link href="/about">{author}</Link>
      <div>{` • `}</div>
      <div>{`© ${new Date().getFullYear()}`}</div>
      <div>{` • `}</div>
      <Link href="/">{title}</Link>
    </div>
    <div class="mb-8 text-sm text-gray-500 dark:text-gray-400">
      <Link href="https://astro.build/">
        {`Built with `}
        <span class="underline">Astro</span>
        {` • `}
      </Link>
      <Link href={siteRepo}>
        {`Source on `}
        <span class="underline">Github</span>
      </Link>
    </div>
  </div>
</footer>
